@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;

}
body{
    background-color: #FAF7EF;
    background-image: url("../src/neg-gal/Plaza_celistino_gasca_y_templo_de_San_Francisco_de_Asis_05_1\ \(2\).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#crearcuenta {
    padding: 2rem;
    background-color: white;
    width: 40%;
    text-align: center;
    box-shadow: 1px 1px 10px;
}
h1{
    font-size: 30px;
    margin-bottom: 15px;
}
#Nombre, #nombre_usuario {
    width: 100%;
}
#apellido_materno, #apellido_paterno, #Correo, #contra{
    width: 47%;
}
#rol{
    width: 30%;
    margin: 5px;
    font-size: 20px;
    height: 40px;
}
input{
    text-align: center;
    margin: 5px;
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    border: none;
  background-color: #EDF4F3;

}
hr{
    margin: 10px;
    border: 1px solid;
}
#crear{
    width: 60%;
    background-color: #F3745C;
    transition: transform 0.3s;
    color: white;
}
#crear:hover {
    transform: scale(1.1);
    transition: transform 0.3s;

}