@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

body {

  background-image: url("../src/neg-gal/Plaza_celistino_gasca_y_templo_de_San_Francisco_de_Asis_05_1\ \(2\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  gap: 0;
  max-width: 45%;
  margin: 0 auto;
}

.left-column,
.right-column {
  color: black;
  padding: 20px;
  flex: 1;
}

.left-column {
  background-color: white;
}

.right-column {
  background-color: #F3745C;
  color: white;
}

.btn-primary {
  background-color: white;
  border-color: #F3745C;
  color: #F3745C;
  border-radius: 25px;
}

.btn-secondary {
  background-color: #F3745C;
  border-color: #F3745C;
  color: white;
  border-radius: 25px;

}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    max-width: 80%;
  }

  .left-column,
  .right-column {
    width: 100%;
  }
}

input[type="email"],
input[type="password"] {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: medium;
  margin-bottom: 15px;
  background-color: #F1F1F1;
}
